


<%- include('./partials/header') %>

<body class="hidden">

	<main>
    
    <div class="preloader-wrap">
    	<div class="outer">
        	<div class="inner">
      			<div class="percentage" id="precent"></div>
                <div class="preloader-text">I will be with you in every step of the way. It’s a promise! <span>Contact me Now!</span></div>      
      		</div>
      	</div>
    </div>  
    
	<div class="cd-index cd-main-content">
	
	<!-- Page Content -->
	<div id="page-content" class="" data-bgcolor="#eee">
        
        <!-- Background Lines -->
        <div class="bg-lines hidden">    
            <svg>
    			<line x1="20%" y1="100%" x2="80%" y2="0"/>
				<line x1="80%" y1="100%" x2="20%" y2="0"/>
    		</svg>  
        </div>
        <!--/Background Lines -->
        
        
    
        <!-- Header -->
        <header class="scroll-hid">
            <div id="header-container">
        
            <!-- Logo -->
            <div id="logo">
                <a  href="index.html"></a>
                    <img class="black-logo" src="images/logo.png" alt="ClaPat Logo">
                    <img class="white-logo" src="images/logo-white.png" alt="ClaPat Logo">
                </a>
            </div>
            <!--/Logo -->            
            
            <!-- Menu Burger -->
            <div id="burger-wrapper">
            	<div id="burger-circle"></div>
                <div id="menu-burger">
                    <span></span>
                    <span></span>
                </div>
            </div>
            <!--/Menu Burger -->
        
            </div>
        </header>
        <!--/Header -->
        
        
        <!-- Menu Overlay -->
        <div id="menu-overlay">
            
            <div id="close-menu"></div>  
            
            <div class="outer">
                <div class="inner">
                    
                    <nav>                    
                        <ul class="main-menu">
                            <li class="mp"><a  href="/"><span></span>Home</a></li>
                            <li class="mp"><a  href="/portfolio"><span></span>Portfolio</a></li>
                            <li class="mp"><a  href="/about"><span></span>About</a></li>
                            <li class="mp active"><a href="/contact"><span></span>Contact</a></li>
                        </ul>                
                    </nav>
                    
                    
                </div>
            </div>
        
        </div>
        <!-- Menu Overlay -->
        
        
        <!-- Main -->
        <div id="main">
        
        	
            <!-- Hero Section -->
            <div id="hero">
                <div id="hero-styles" class="opacity-onscroll">
                    <div id="hero-caption">
                        <div class="inner">
                            <h1 class="hero-title">Get In Touch</h1>
                            <p class="hero-subtitle">I will be awaiting for you</p>                        
                        </div>
                    </div>
                </div>
            </div>            
            <div id="hero-height" class="hidden"></div>
            <!--/Hero Section -->
            
            
             <!-- Main Content -->
            <div id="main-content">
            	<div id="main-page-content">           
                
                
                <!-- Row -->
                <div class="vc_row small text-align-center row_padding_top has-animation"  data-delay="100">
                    
                    <div class="container">
                        
                        <h4>Let’s talk</h4>
                        <p>For projects or anything else don’t hesitate to get in touch with me. </p>
                       
                        
                        <!-- Contact Formular -->
                        <div id="contact-formular">
                        
                        	<div id="message"></div>
                        
                            <form method="post" action="http://clapat.ro/themes/wizzard/contact.php" name="contactform" id="contactform">                             
                                <div class="name-box">        
                                    <input name="name" type="text" id="name" size="30"  onfocus="if(this.value == 'Full Name') { this.value = ''; }" onblur="if(this.value == '') { this.value = 'Full Name'; }" value="Full Name" ><label class="input_label"></label>
                                </div>                                                        
                                <div class="email-box">
                                    <input name="email" type="text" id="email" size="30" onfocus="if(this.value == 'E-mail') { this.value = ''; }" onblur="if(this.value == '') { this.value = 'E-mail'; }" value="E-mail" ><label class="input_label"></label>
                                </div>                            
                                <div class="message-box">
                                    <textarea name="comments" cols="40" rows="4" id="comments" onfocus="if(this.value == 'Your Message') { this.value = ''; }" onblur="if(this.value == '') { this.value = 'Your Message'; }" >Your Message</textarea><label class="input_label slow"></label>
                                </div>                             
                                 <div class="submit-box">             
                                    <input type="submit" class="send_message clapat-button outline" id="submit" value="Submit" /> 
                                </div>
                            </form>                        
                                                    
                        </div>
                        <!--/Contact Formular -->
                        
                        <hr><hr>
                        
                    </div>
                    
                </div>
            	<!--/Row -->
            
                <!-- Row -->
                <div class="vc_row text-align-center row_padding_top row_padding_bottom small has-animation"  data-delay="0">
                    
                        <div class="container">
                            
                            <div class="one_third">
                                <div class="clapat-icon">
                                    <i class="fa fa-paper-plane fa-2x" aria-hidden="true"></i>
                                </div>
                            
                                <h6><a href="mailto:devatarkesh@gmail.com" class="link"><span>devatarkesh@gmail.com</span></a></h6>
                                <p>Email</p>                        
                            </div>
                            
                            <div class="one_third">
                                <div class="clapat-icon">
                                    <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
                                </div>
                            
                                <h6>Tarnaka, Hyderabad, Telangana, India - 500017</h6>
                                <p>Address</p>                        
                            </div>
                            
                            <div class=" one_third last">
                                <div class="clapat-icon">
                                    <i class="fa fa-phone fa-2x" aria-hidden="true"></i>
                                </div>
                            
                                <h6>+91 8317631352</h6>
                                <p>Phone</p>
                            </div>
                            
                        </div>
                        
                    </div>
                    <!--/Row -->
            
            	</div>
                <!--/Main Page Content -->           
            </div>
            <!--/Main Content --> 
        </div>
        <!--/Main -->       
        
        
<%- include('./partials/footer') %>  